* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
section {
    padding: 70px 0px;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C3E50;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    /* haut | droit | bas | gauche */
    margin: 30px 15px;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
nav span {
    margin: 30px 15px;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

/* HEADER END */
/* SECTION 1 */

.section-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DC3545;
}
.section-brand img {
    width: 200px;
    margin-bottom: 30px;
}
.section-brand h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}
.section-brand span {
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 20px;
}

/* SECTION 1 END */
/* SECTION 2 */

.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-portfolio h2 {
    color: #2C3E50;
    font-size: 35px;
    text-transform: uppercase;
}
.section-portfolio img {
    width: 280px;
    border-radius: 10px;
    margin: 15px;
}

/* SECTION 2 END*/
/* SECTION 3 */

.section-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DC3545;
}
.section-about h2 {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}
.section-about div {
    display: flex;
}
.section-about p {
    color: white;
    font-size: 14px;
    line-height: 23px;
    width: 300px;
    margin: 20px 20px;
}

/* SECTION 3 END*/
/* SECTION 4 */

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me h2 {
    color: #2C3E50;
    font-size: 35px;
    text-transform: uppercase;
}
.contact-me form {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.contact-me label {
    display: flex;
    flex-direction: column;
    color: #2C3E50;
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 18px;
    margin: 20px 0px;
}
.contact-me input, .contact-me textarea  {
    border: none;
    border-bottom: 1px rgba(90, 130, 170, 0.2) solid;
    margin: 10px 0px;
    font-size: 18px;
}
.contact-me textarea {
    resize: none;
    height: 150px;
}
.contact-me button {
    color: white;
    text-transform: capitalize;
    background-color: #DC3545;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 90px;
    height: 60px;
    margin: 10px 0px;
}

/* SECTION 4 END*/
/* FOOTER */

.footer-row {
    display: flex;
    background-color: #2C3E50;
    justify-content: center;
    padding: 30px 0px;
}
.footer-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-bottom: 50px;
}
footer h3 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px 0px;
}
footer p {
    color: white;
    line-height: 25px;
    
}
footer a {
    color: #1F8E6F;
    text-decoration: none;
}
.plop {
    display: flex;
}
.box {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    margin: 0px 5px;
    border-radius: 50%;
    padding: 5px;
}
footer i {
    color: white;
}
footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A252F;
    color: white;
    font-size: 10px;
    padding: 20px 0px;
    text-transform: capitalize;
}

/* FOOTER END */